
html, body {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.ant-menu-item-active {
  background-color: red;
  width: 100px;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: cornflowerblue;
  border-radius: 0 20px 20px 0 !important;
  /* width: 100px; */
  /* transition: all 0.3s; */
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.width-height-200 {
  width: 30px !important;
  height: 30px !important;
}

:root {
  --temp-background-color: #fff;
  --temp-text-color: #2c3e50;
}

[data-theme="dark"] {
  --temp-background-color: transparent;
  --temp-text-color: #f0f0f0;
}

.vuepress-markdown-body {
  background-color: var(--temp-background-color) !important;
  color: var(--temp-text-color) !important;
}